<!DOCTYPE html>
<html lang="en" ng-app="shoppingCart">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Cart Test</title>
    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body ng-controller="shoppingCartCtrl">
    <div class="container">
      <h1>{{message}}</h1>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">{{productlist}}</div>
          <div class="panel-body">
            <ul class="product-list">
              <li class="product-item" ng-repeat="product in products">
                <h4>{{product.name}}</h4>
                <img class="img-thumbnail" ng-src="{{product.image}}">
                <div class="product-item-price">{{product.price}}</div>
                <a class="btn btn-large btn-block btn-primary" ng-click="buy(product.id)">Buy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">{{basket}}</div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/shoppingCartApi.js"></script>
    <script src="js/controllers/shoppingCartCtrl.js"></script>
  </body>
</html>